.library {
  padding: 20px 0px 40px 0px;
}
.library__container {
}
.library__title {
  margin-bottom: 60px;
  text-align: center;
}
.library__row {
  display: flex;
  justify-content: space-between;
}
.library__check {
  flex: 0 1 600px;
}
.library__form {
}
.form-library {
}
.form-library__title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
}
.form-library__block-border {
  padding: 20px;
  border: 3px solid #bb945f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-library__block {
  width: 100%;
  padding: 20px;
  background-color: #bb945f;
  margin-bottom: 20px;
}
.form-library__subtitle {
  font-family: Forum;
  font-size: 30px;
  line-height: 1.66; /* 166.667% */
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.form-library__line {
  max-width: 520px;
}
.form-library__line:not(:last-child) {
  margin-bottom: 25px;
}
.form-library__input {
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  min-height: 66px;
  padding: 0px 20px 0px 20px;
  font-family: Forum;
  font-size: 30px;
  line-height: 1.6; /* 166.667% */
  letter-spacing: 0.6px;
}
.form-library__input::placeholder {
  color: #8e8e8e;
  font-family: Forum;
  font-size: 30px;
  line-height: 1.6; /* 166.667% */
  letter-spacing: 0.6px;
}
.form-library__button {
  color: #0c0c0e;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  min-height: 40px;
  padding: 0px 40px;
  background-color: #fff;
  transition: 0.3s;
}
.form-library__button:hover {
  background-color: #bb945f;
  border: 1px solid #bb945f;
}
.library__get {
  flex: 0 1 456px;
}
.get-library {
}
.get-library__title {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}
.get-library__text {
  color: #000;
  text-align: right;
  line-height: 2; /* 200% */
  letter-spacing: 0.4px;
  margin-bottom: 35px;
}
.get-library__buttons {
  display: flex;
  justify-content: right;
  column-gap: 20px;
}
.get-library__button {
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background-color: #fff;
  color: #0c0c0e;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  min-height: 30px;
  transition: 0.3s;
  padding: 0px 16px;
}
.get-library__button:hover {
  background-color: #bb945f;
  border: 1px solid #bb945f;
}
